<aside id="left_column" class="wrapper">
	<section id="user_actions">
		<%= render current_user %>
		<%= link_to "Logout", logout_path %>
	</section>
	<section id="shopping_cart">
		<h3> Panier </h3>
	</section>
	<!-- <article>
		<header> iPad Air </header>
		<p class="scrollable">Batterie au lithium-polymère rechargeable intégrée de 32,4 Wh
			Jusqu’à 10 heures d’autonomie pour naviguer sur Internet en WiFi, regarder des vidéos ou écouter de la musique
			Jusqu’à 9 heures d’autonomie pour naviguer sur Internet via un réseau de données cellulaires
			Recharge via l’adaptateur secteur ou le port USB d’un ordinateur
			
			Batterie au lithium-polymère rechargeable intégrée de 32,4 Wh
			Jusqu’à 10 heures d’autonomie pour naviguer sur Internet en WiFi, regarder des vidéos ou écouter de la musique
			Jusqu’à 9 heures d’autonomie pour naviguer sur Internet via un réseau de données cellulaires
			Recharge via l’adaptateur secteur ou le port USB d’un ordinateur
			
			Batterie au lithium-polymère rechargeable intégrée de 32,4 Wh
			Jusqu’à 10 heures d’autonomie pour naviguer sur Internet en WiFi, regarder des vidéos ou écouter de la musique
			Jusqu’à 9 heures d’autonomie pour naviguer sur Internet via un réseau de données cellulaires
			Recharge via l’adaptateur secteur ou le port USB d’un ordinateur
			
			Batterie au lithium-polymère rechargeable intégrée de 32,4 Wh
			Jusqu’à 10 heures d’autonomie pour naviguer sur Internet en WiFi, regarder des vidéos ou écouter de la musique
			Jusqu’à 9 heures d’autonomie pour naviguer sur Internet via un réseau de données cellulaires
			Recharge via l’adaptateur secteur ou le port USB d’un ordinateur
			</p>
	</article> -->
</aside>
<section id="new_request">
	<section id="top_row">
		<article id="material_type">
			<h3> Choix du mat&eacute;riel </h3>
			<%= render 'materialtypes/materialtypechoice' %>
		</article>
	</section>
	
	<section id="bottom_row">
		<aside id="material_list_view">
			<h3> Liste du mat&eacute;riel disponible </h3>
		</aside>
	</section>

</section>