<section class="complexdatechoice">
	<%= radio_button_tag 'choice', '1' %> 
	<div>
		Matin
	</div>
</section>
	
<section class="complexdatechoice">
	<%= radio_button_tag 'choice', '2' %> 
	<div>
		Après-midi
	</div>
</section>
	
<section class="complexdatechoice">
	<%= radio_button_tag 'choice', '3' %> 
	<div>
		Entre machin et machin
	</div>
</section>
