<h3> Mat&eacute;riel class&eacute; par type </h3>

<% 
	id = ids.first
	materialtype = Materialtype.find(id)
	materials = materialtype.associated_materials
%>
<article id="materials">
  <%= render materials %>
</article>