<%= div_for material do %>
	<div class="material_name"><%= simple_format material.technicalfeature.name %> </div>
	<div class="material_os"><%= simple_format material.technicalfeature.os %> </div>
	<div class="material_version"><%= simple_format material.technicalfeature.version %> </div>
<% end %>

