<%= div_for material do %>
	<div><%= simple_format material.type.label %> </div>
	<div><%= simple_format material.technicalfeature.name %> </div>
	<div><%= simple_format material.technicalfeature.os %> </div>
<% end %>

