/*
****************************************************************
********************	LEFT COLUMN     ************************
****************************************************************
*/
#left_column
{
	background-color: #ff5151;
	width:25%;
	height:100%;
	display:inline-block;
	left:0;
}

#left_column > *
{
	margin:1em;
}