ul{
     position:relative;
     height:2em;
     margin:10px 100px;
     padding:0;
     white-space:nowrap;
}
ul li{
     display:inline-block;
     text-align:center;
}
ul li:nth-child(1) a{width:10em;}
ul li:nth-child(2) a{width:10em;}
ul li:nth-child(3) a{width:10em;}
ul li:nth-child(4) a{width:10em;}

ul li a{
     display:inline-block;
     box-sizing:border-box;
     padding:.4em .2em;
     color:#FF750C;
     text-decoration:none;
     text-shadow:0 1px 0 white;
     background-color:transparent;
     transition:background-color .3s ease;
}
ul li a:hover,ul li a:focus{
     color:#FF750C;
     background-color:rgba(255,255,255,.4);
     transition:background-color .3s ease .4s;
}
ul li a:focus{
     border-bottom:3px solid #c351fa;
}

ul li:last-child::after{
     content:"";
     position:absolute;
     left:0px;
     bottom:-3px;
     display:block;
     width:3em;
     height:2px;
     background:#FF750C;
     border-bottom:1px solid rgba(255,255,255,.8);
     transition: all .5s ease;
}
ul li:hover ~ li:last-child::after,
ul li:lastchild:hover::after{background:#C351FA;}

ul li:nth-child(1):hover ~ li:last-child::after{left:0;width:10em;}
ul li:nth-child(2):hover ~ li:last-child::after{left:10em;width:10em;}
ul li:nth-child(3):hover ~ li:last-child::after{left:20em;width:10em;}
ul li:last-child:hover::after{left:30em;width:10em;}