#new_request
{
	width:75%;
	display:inline-block;
	vertical-align:top;
	height:100%;
	position:absolute;
}

/*
************************************************************
********************	TOP ROW     ************************
************************************************************
*/
#top_row
{
	position:relative;
	height:30%;
	background-color:grey;
}

#top_row > *
{
	height:100%;
	display:inline-block;
}

#material_type 
{
	background-color:blue;
	width:50%;
}

#material_type > input
{
	display:block;
}

/*
***************************************************************
********************	BOTTOM ROW     ************************
***************************************************************
*/
#bottom_row
{
	height:70%;
	background-color:orange;
}

#material_list_view 
{
	background-color:pink;
}